/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --error: #e7195a;
  --blue: #415464;
  --cream-bg: #f1eee6;
  --cream: #D6D1C4;
  --golden: #BD9A5F;
}
body {
  background-color: var(--cream-bg);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--blue);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.todo-details {
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.todo-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--blue);
}
.todo-details h5 {
  margin: 0 0 14px 0;
  font-size: 1em;
  color: rgb(19, 19, 24);
  font-weight: normal;
}
.todo-details p {
  margin: 0;
  font-size: 0.7em;
  color: #555;
}
.todo-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--cream);
  padding: 8px;
  border-radius: 10px;
  color: #333;
}

/* new todo form */
.create h3 {
  color: var(--blue);
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--golden);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}